<div class="d-flex my-2 align-items-center text-white bg-dark rounded shadow-sm">
    <div class="d-flex-row">
      <h3>Clientes</h3>
    </div>
    <div class="p-1 flex-grow-1">
      {% if ativo == 2 %}
      <a href="{% url 'e_clientes' ativos='ativos' %}" class="btn btn-dark active mx-1" role="button">Ativos</a>
      <a href="{% url 'e_clientes' ativos='todos'%}" class="btn btn-dark mx-1" role="button">Todos</a>
      <a href="{% url 'e_clientes' ativos='novos' %}" class="btn btn-dark mx-1" role="button">Novos</a>

      {% elif ativo == 1 %}
      <a href="{% url 'e_clientes' ativos='ativos' %}" class="btn btn-dark mx-1" role="button">Ativos</a>
      <a href="{% url 'e_clientes' ativos='todos' %}" class="btn btn-dark active mx-1" role="button">Todos</a>
      <a href="{% url 'e_clientes' ativos='novos' %}" class="btn btn-dark mx-1" role="button">Novos</a>

      {% elif ativo == 3 %}
      <a href="{% url 'e_clientes' ativos='ativos' %}" class="btn btn-dark mx-1" role="button">Ativos</a>
      <a href="{% url 'e_clientes' ativos='todos' %}" class="btn btn-dark mx-1" role="button">Todos</a>
      <a href="{% url 'e_clientes' ativos='novos' %}" class="btn btn-dark active mx-1" role="button">Novos</a>
      </div>
      {% endif %}
    </div>
</div>
