<div class="d-flex align-items-center p-2 my-2 text-white bg-dark rounded shadow-sm">
  <div class="p-1 flex-grow-1">
    {% if ativo == 1%}
        <a href="{% url 'e_demandas' %}" class="btn btn-dark active" role="button">Demandas</a>
        <a href="{% url 'e_processos' %}" class="btn btn-dark" role="button">Processos</a>
        <a href=# class="btn btn-dark" role="button">Documentos</a>
    {% elif ativo == 2 %}
        <a href="{% url 'e_demandas'%}" class="btn btn-dark" role="button">Demandas</a>
        <a href="{% url 'e_processos' %}" class="btn btn-dark active" role="button">Processos</a>
        <a href=# class="btn btn-dark" role="button">Documentos</a>
    {% elif ativo == 3 %}
        <a href="{% url 'e_demandas'%}" class="btn btn-dark" role="button">Demandas</a>
        <a href="{% url 'e_processos' %}" class="btn btn-dark" role="button">Processos</a>
        <a href=# class="btn btn-dark active" role="button">Documentos</a>
    {% endif %}
  </div>
</div>