<div class="d-flex my-2 align-items-center text-white bg-dark rounded shadow-sm">
    <div class="d-flex-row">
      <h3>Processos</h3>
    </div>
    <div class="p-1 flex-grow-1">
      {% if ativo == 2 %}
      <a href="{% url 'e_processos' %}" class="btn btn-dark active mx-1" role="button" aria-label="Link para processos ativos">Ativos</a>
      <a href="{% url 'e_processosTodos' %}" class="btn btn-dark mx-1" role="button" aria-label="Link para todos os processos">Todos</a>
      <a href="{% url 'e_processoNovo' 0 %}" class="btn btn-warning mx-1" role="button"aria-label="Link para processo novo">Novo</a>

      {% elif ativo == 1 %}
      <a href="{% url 'e_processos' %}" class="btn btn-dark mx-1" role="button" aria-label="Link para processos ativos">Ativos</a>
      <a href="{% url 'e_processosTodos' %}" class="btn btn-dark active mx-1" role="button" aria-label="Link para todos os processos">Todos</a>
      <a href="{% url 'e_processoNovo' 0 %}" class="btn btn-warning mx-1" role="button" aria-label="Link para criar novo processo">Novo</a>

      </div>
      {% endif %}
    </div>
</div>
