<!DOCTYPE html>

<html lang="pt-Br" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Anexo</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'equipe/_menuprincipal.html' with ativo=2 %}

<div class="d-flex align-items-center text-white bg-dark rounded shadow-sm my-2 p-2">
    <h4>Você precisa enviar documentos para um de seus processos</h4>
    <a href=# class="btn btn-warning mx-2" role="button">Enviar agora</a>
</div>

{% include "equipe/_clientes.html" with ativo=2 %}

<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> Anexo #{{ anexo.pk }} de {{ anexo.cliente }}
        (
        {% if anexo.validado %}
            Validado
        {% elif anexo.anexo %}
            Aguardando validação
        {% else %}
            Pendente
        {% endif %}
        )</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Descrição:</h5>
    <p class="card-text">{{ anexo.descricao }}</p>
    {% if anexo.solicitacao %}
    <h5 class="card-title">Solicitação:</h5>
    <p class="card-text"><a href="{% url 'e_solicita' anexo.solicitacao.pk %}">{{ anexo.solicitacao }}</a></p>
    {% endif%}
    {% if anexo.demanda.all.exists %}
    <h5 class="card-title">Demanda(s):</h5>
    {% for demanda in anexo.demanda.all %}
    <p class="card-text"><a href="{% url 'e_demanda' demanda.id %}">{{ demanda }}</a></p>
    {% endfor %}
    {% endif %}
    {% if anexo.processo.all.exists %}
    <h5 class="card-title">Processos(s):</h5>
    {% for processo in anexo.processo.all %}
    <p class="card-text"><a href="{% url 'e_processo' processo.id %}">{{ processo }}</a></p>
    {% endfor %}
    {% endif %}
    {% if anexo.anexo %}
    <a href="{{ anexo.anexo.url }}" class="btn btn-info" role="button">Visualizar arquivo</a>
    {% endif %}
  </div>
  {% if anexo.validado == False and anexo.anexo %}
    <div class="card-header">
      <a href="{% url 'e_anexo' anexo.pk 'validar' %}" class="btn btn-warning" role="button">Validar</a>
      <a href="{% url 'e_anexo' anexo.pk 'rejeitar' %}" class="btn btn-warning" role="button">Rejeitar</a>
    </div>
  {% endif %}
 </div>

    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}