<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Cliente</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'equipe/_menuprincipal.html' with ativo=3 %}

<div class="d-flex align-items-center text-white bg-dark rounded shadow-sm my-2 p-2">
    <h4>Você precisa enviar documentos para um de seus processos</h4>
    <a href=# class="btn btn-warning mx-2" role="button">Enviar agora</a>
</div>

    {% include "equipe/_clientes.html" with ativo=2 %}


<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> {{usuario.first_name}} {{usuario.last_name}} (ID # {{usuario.pk}})
    {% if usuario.isNovo %}
        <span class="badge bg-warning">Novo</span>
    {% endif %}
    </h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">E-mail:</h5>
    <p class="card-text">{{ usuario.email }}</p>
    <h5 class="card-title">Detalhes:</h5>
    <p class="card-text">{{ usuario.detalhes }}</p>
  </div>
  {% if usuario.base %}
    <div class="card-header">
      <h5 class="card-title">Dados Adicionais</h5>
    </div>
      <div class="card-body">
          <p class="card-text">{{ usuario.base.dados }}</p>
      </div>
  {% endif %}
     <div class="card-body">
       {% if usuario.demanda_set.all %}
         <a href="{% url 'e_demandas_user' usuario.id 'todos' %}" role="button" class="btn btn-light">Demandas</a>
       {% endif %}
       {% if usuario.base.processo_set.all %}
         <a href="{% url 'e_processos_user' usuario.base.id 'ativos' %}" role="button" class="btn btn-light">Processos</a>
       {% endif %}
         <a href="" role="button" class="btn btn-light">Documentos</a>
     </div>
 </div>



    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}