<!DOCTYPE html>

<html lang="pt-Br" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Novo Processo</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'equipe/_menuprincipal.html' with ativo=2 %}

{% include "equipe/_processos.html" with ativo=2 %}

<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> Novo Processo </h5>
  </div>
  <div class="card-body">
          <form method="POST" class="my-class" action="{% url 'e_processoNovo' dem %}" enctype="multipart/form-data">
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {{ form|crispy }}
          <button class="w-25 btn btn-lg btn-primary" type="submit" aria-label="Enviar Novo Processo">Enviar</button>
  </div>
 </div>

    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}