<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Processos</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'equipe/_menuprincipal.html' with ativo=2 %}

{% include "equipe/_processos.html" with ativo=ativar %}

<div class="container-fluid">
    <div class="row">
    <div class="col">
    </div>
    <div class="col-8">

                <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Cliente</th>
              <th scope="col">Número</th>
              <th scope="col">Tribunal</th>
              <th scope="col">Demanda</th>
              <th scope="col">Ativo</th>
            </tr>
          </thead>
          <tbody>
          {% for proc in lista %}
            <tr>
              <td><a href="{% url 'e_cliente' proc.cliente.usuario.id %}">{{ proc.cliente }}</a></td>
              <td><a href="{% url 'e_processo' proc.id %}">{{ proc.numero }}</a></td>
              <td>{{ proc.tribunal }}</td>
              <td><a href="{% url 'e_demanda' proc.demanda.id %}">{{ proc.demanda }}</a></td>
              <td>{{ proc.ativo|yesno:"Sim,Não" }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <div class="col">
    </div>
  </div>
    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}