<!DOCTYPE html>

<html lang="pt-Br" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Anexo</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'cliente/_menuprincipal.html' with ativo=0 %}
{% include 'cliente/_pendencia.html' with pendencia=request.session.pendencia %}
{% include "cliente/_subG.html" with titulo="Documentos" %}

<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> Anexo #{{ anexo.pk }} de {{ anexo.cliente }}
        (
        {% if anexo.validado %}
            Validado
        {% elif anexo.anexo %}
            Aguardando validação
        {% else %}
            Pendente
        {% endif %}
        )</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Descrição:</h5>
    <p class="card-text">{{ anexo.descricao }}</p>
    {% if anexo.solicitacao %}
    <h5 class="card-title">Solicitação:</h5>
    <p class="card-text"><a href="{% url 'solicita' anexo.solicitacao.pk %}" aria-label="Link para solicitação">{{ anexo.solicitacao }}</a></p>
    {% endif%}
    {% if anexo.demanda.all.exists %}
    <h5 class="card-title">Demanda(s):</h5>
    {% for demanda in anexo.demanda.all %}
    <p class="card-text"><a href="{% url 'demanda' demanda.id %}" aria-label="Link para demanda">{{ demanda }}</a></p>
    {% endfor %}
    {% endif %}
    {% if anexo.processo.all.exists %}
    <h5 class="card-title">Processos(s):</h5>
    {% for processo in anexo.processo.all %}
    <p class="card-text"><a href="{% url 'processo' processo.id %}" aria-label="Link para processo">{{ processo }}</a></p>
    {% endfor %}
    {% endif %}
    {% if anexo.anexo %}
    <a href="{{ anexo.anexo.url }}" class="btn btn-info" role="button" aria-label="Visualizar arquivo">Visualizar arquivo</a>
    {% endif %}
    {% if anexo.validado == False %}
    <div class="card-header">
        <form method="POST" class="my-class" action="{% url 'anexo' anexo.pk 'anexar' %}" enctype="multipart/form-data">
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{ form|crispy }}
            <button class="w-25 btn btn-lg btn-primary" type="submit" aria-label="Anexar arquivo">Anexar</button>
        </form>
    </div>
    {% endif %}
  </div>
 </div>

    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}