<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Cliente</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'cliente/_menuprincipal.html' with ativo=1 %}

<div class="d-flex align-items-center text-white bg-dark rounded shadow-sm my-2 p-2">
    <h4>Você precisa enviar documentos para um de seus processos</h4>
    <a href=# class="btn btn-warning mx-2" role="button">Enviar agora</a>
</div>

<div class="d-flex my-2 align-items-center text-white bg-dark rounded shadow-sm">
    <div class="d-flex-row">
        <h3>Minhas Demandas</h3>
    </div>
    {% include "cliente/_demanda.html" with ativo=2 %}
</div>

<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> Demanda #{{ demanda.id }}, por {{demanda.usuario}} (
        {% if demanda.ativa == True%}
        Ativa
        {% else %}
        Inativa
        {% endif %}
        )</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Info 1:</h5>
    <p class="card-text">{{ demanda.info1 }}</p>
    <h5 class="card-title">Info 2:</h5>
    <p class="card-text">{{ demanda.info2 }}</p>
  </div>
  {% if demanda.processo_set.all %}
    <div class="card-header">
      <h5 class="card-title">Processos</h5>
    </div>
    {% for proc in demanda.processo_set.all %}
      <div class="card-body">
          <p class="card-text"><a href="{% url 'processo' proc.id %}">{{ proc.numero }}</a></p>
      </div>
    {% endfor %}
  {% endif %}
 </div>

    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}