<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Cliente</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'cliente/_menuprincipal.html' with ativo=1 %}

{% include 'cliente/_pendencia.html' with pendencia=request.session.pendencia %}

{% include "cliente/_demanda.html" with ativo=2 %}

<div class="container-fluid">
 <div class="card">
  <div class="card-header">
    <h5> Demanda #{{ demanda.id }}, por {{demanda.usuario}} (
        {% if demanda.ativa == True%}
        Ativa
        {% else %}
        Inativa
        {% endif %}
        )</h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Detalhes:</h5>
    <p class="card-text">{{ demanda.detalhes }}</p>
  </div>
  {% if demanda.processo_set.all %}
    <div class="card-header">
      <h5 class="card-title">Processos</h5>
    </div>
    {% for proc in demanda.processo_set.all %}
      <div class="card-body">
          <p class="card-text"><a href="{% url 'processo' proc.id %}">{{ proc.numero }}</a></p>
      </div>
    {% endfor %}
  {% endif %}
     {% if demanda.negativa %}
    <div class="card-header">
      <h5 class="card-title">Justificativa para rejeição</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{ demanda.negativa.texto }}</p>
    </div>
    {% endif %}
 </div>

    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}