    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" aria-label="Link para a página inicial da Avocacia Digital - Dra. Janaina Larisca">Avocacia Digital - Dra. Janaina Larisca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">

        </li>
      </ul>
      <a class="btn btn-outline-danger" href="{% url 'logout' %}" role="button" aria-label="Link para sair">LogOut</a>
    </div>
  </div>
</nav>