<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">

{% load static %}

<head>
    {% include '_head.html' %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Nunito:ital,wght@1,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'home/style.css'%}">

    <title>AdvDig - Solicitações</title>
</head>
<br>
{% include '_msg.html' %}

{% include 'equipe/_menuprincipal.html' with ativo=4 %}

{% include "equipe/_subG.html" with titulo='Solicitações' %}

<div class="container-fluid">
    <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
       <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Cliente</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
          {% for solicita in lista %}
            <tr>
              <td><a href="{% url 'e_solicita' solicita.id %}">#{{ solicita.id }}</a></td>
              <td><a href="{% url 'e_cliente' solicita.cliente.usuario.id %}">{{ solicita.cliente }}</a></td>
              <td><a href="{% url 'e_solicita' solicita.id %}">
                  {% if solicita.concluida == True %}
                    Concluída
                  {% elif solicita.enviada == False %}
                    Em criação
                  {% elif solicita.enviada == True %}
                    Em andamento
                  {% endif %}</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <div class="col">
    </div>
  </div>
    <div class="row">
        </br>
    </div>
</div>

{% include '_navOn.html' %}

{% include '_tail.html' %}